body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
    opacity: 100%;
    font-size:larger;

}
#header{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
#video{
    display: flex;
    justify-content: center;

}
#grupo
{
    padding-left: 2%;
}

footer{
    background-color: rgb(31, 46, 58);
    color: black;
}